@import "tailwindcss";


:root{
    font-family: sans-serif;
}


@layer utilities {
  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}